[Unit]
Description=%i service with docker compose
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/mnt/ts01_volume/data/%i
ExecStart=/bin/bash -c "docker compose up"
ExecStop=/bin/bash -c "docker compose stop"

[Install]
WantedBy=multi-user.target
